body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #72a8f1;
}

.container {
    background: #fff;
}

.content {
    padding: 30px;
    margin-top: 30px;
}

.copyright {
    color: #fff;
}